/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.header {
    border-bottom: 1px solid var(--border);
    display: flex;
    place-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    >.title-section {
        display: flex;
        place-content: center;
        place-items: center;
        gap: 1rem;

        >.app-name {
            font-weight: 900;
            font-size: 20px;
            text-transform: uppercase;
        }

        >.hamburger {
            cursor: pointer;
        }
    }

    >.user-profile {
        display: flex;
        place-content: center;
        place-items: center;
        gap: .5rem;
        cursor: pointer;
        font-size: 16px;

        >.avator {
            padding: 4px;
            font-size: 18px;
            font-weight: 900;
        }
    }
}

.divider {
    border-color: var(--border);
}